log/
.DS_Store
db/schema.rb
db/*.sqlite3
config/database.yml
config/newrelic.yml
config/app.yml
config/mongoid.yml
config/domains.yml
.svn
.*sw*
*.sql
*.tgz
.backups
vendor/gems/gems
vendor/gems/specifications
vendor/gems/doc
vendor/gems/environment.rb
.bundle/
.idea
*.sublime-project
*.lock
!Gemfile.lock
public/stylesheets/*.css
public/stylesheets/**/*.css
public/stylesheets/**/**/*.css
.rvmrc
test/
config/app_config.rb
config/unicorn.conf.rb
config/*.sphinx.conf
db/sphinx/
log/*.pid
nbproject/
*.tmproj
.metadata/
.project
tmp/
