log/
.DS_Store
db/schema.rb
db/*.sqlite3
config/database.yml
config/newrelic.yml
config/mongoid.yml
.svn
.*sw*
*.sql
*.tgz
.backups
vendor/gems
.bundle/
.idea
*.sublime-project
*.lock
!Gemfile.lock
public/assets
public/system
public/stylesheets
test/
config/app_config.rb
config/unicorn.conf.rb
config/*.sphinx.conf
db/sphinx/
log/*.pid
nbproject/
*.tmproj
.metadata/
.project
tmp/
config/transmission.yml
